/* Basic Style */
.todo-list {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.todo-list__top-part {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.top-part__img {
  width: 100%;
}

.top-part__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .top-part{
    text-align: center;
  }
}

.todo-list__tasks-area {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.tasks-area__text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-area__wrapper {
  display: flex;
}

.tasks-area__list {
  margin: 0;
  padding: 0px;
}

.tasks-area__list-item,
.tasks-area__title {
  list-style: none;
}

.tasks-area__input-text,
.tasks-area__button{
  outline: none;
}

.tasks-area__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.tasks-area__button:hover {
  color: #3a3a3a;
}

/* Heading */
.tasks-area__title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.tasks-area__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.tasks-area__input-text:focus {
  color: #333;
}

/* New Task */
.tasks-area__title {
  display: block;
  margin: 0 0 20px;
}

.tasks-are__new-task-input {
  width: 318px;
}

/* Task list */
.tasks-area__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-area__list-item > * {
  vertical-align: middle;
}

.tasks-area__checkbox{
  margin: 0 10px;
}

.tasks-area__label-task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks-area__list-item >
.tasks-area__input-text {
  width: 226px;
}

.tasks-area__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks-area__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-area__completed-tasks
.tasks-area__label-task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-area__list-item
.tasks-area__input-text {
  display: none;
}

.tasks-area__list-item-edit
.tasks-area__input-text {
  display: inline-block;
  width: 224px;
}

.tasks-area__list-item-edit
.tasks-area__label-task-name {
  display: none;
}